body {
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
h1 {
    font-family: 'Proxima Nova', sans-serif;  
    font-size: 40px; 
}

.button {
    position: absolute; 
    bottom: 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Proxima Nova', sans-serif;  
    font-size: 20px; 
    border-radius: 20px;
    padding: 20px 40px;  
    background-color: black;
    color: white;
}

.back-position {
    position: fixed;
    z-index: 1001;  
    left: 10px;
    top: 10px;
    bottom: auto;
}

@keyframes fly {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 100vh;
    }
}

a {
    color: inherit;
}

button.ibutton {
    border-radius: 20px;
    padding: 20px 40px;  
    background-color: white;
    color: black;
    font-family: 'Proxima Nova', sans-serif;  
    font-size: 20px;  
}

.preview {
    position: absolute;
    z-index: 1001;  
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid black;
    font-family: 'Proxima Nova', sans-serif;
    font-size: 14px;
    border-radius: 10px; 
    transform: translateY(+8%);
}


