body {
    overflow: hidden;
    position: relative;
    background-color: #f2f2f2;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
h1 {
    font-family: 'Proxima Nova', sans-serif;  
    font-size: 40px; 

}
.button {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 20px 40px;  
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-decoration: none;
    font-family: 'Proxima Nova', sans-serif;  
    font-size: 20px; 
}

.back-position {
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: auto;
}

@keyframes fly {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 100vh;
    }
}

a {
    color: inherit;
}

button.btn.btn-light {
    border-radius: 20px;
    padding: 20px 40px;  
    background-color: white;
    color: black;
    font-family: 'Proxima Nova', sans-serif;  
    font-size: 20px;  
}
